---
layout: default
title: Pinnwand
description: Sammlung diverser Blog-Beiträge von Nils Prause.
---

<section class="single">

	<div class="wrap">

		<h1>Pinnwand</h1>

		<p>Hier finden Sie eine Sammlung verschiedener Artikel zu überwiegend technischen Themen, mit denen ich mich aus verschiedensten Gründen mal beschäftigt habe.</p>
		
	</div>

</section>

<section class="listing single">

	<div class="wrap">

		{% for notices in site.notices reversed %}

		<article class="listing-post">

			<div class="listing-post__header">
				<h2 class="listing-post__title"><a href="{{ notices.url | relative_url }}">{{ notices.title }}</a></h2>
				<p class="listing-post__subtitle">{{ notices.subtitle }}</p>
			</div>

			{% if notices.featured_image %}
			<a href="{{ notices.url | relative_url }}" class="listing-post__image" style="background-image: url({{ notices.featured_image | relative_url }});"></a>
			{% endif %}

			<div class="listing-post__content">
				<p>{{ notices.excerpt }}</p>
				<p><a href="{{ notices.url | relative_url }}" class="button">Ich will mehr!</a>
			</div>

		</article>

		{% endfor %}

	</div>

</section>

<section class="single">

	<div class="wrap">

		<h2 lang="en">Disclaimer</h2>

		<p>Alle Inhalte erfolgen nach bestem Wissen, oft aber auch ohne oder nur mit geringem Wissen. Daher alles auf eigene Gefahr!</p>
		
	</div>

</section>